/** CSS for the gadgets. */

.normalTextBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: black;
	padding: 4px;
	border: 1px solid #B3B3B3;
}

.normalLabel, .errLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #4E4E4E;
}

.formHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: gray;
}

.errLabel {
	color: red;
}

.actionButton {
	margin: 0;
	padding: 5px 7px;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	font-size: 16px;
	background: url("personalexpensemanager/gwt/clean/images/hborder.png") repeat-x 0px -2077px;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.actionButton:active {
	border: 1px inset #ccc;
}

.actionButton:hover {
	border-color: #939393;
}

.actionButton[disabled] {
	cursor: default;
	color: #888;
}

.actionButton[disabled]:hover {
	border: 1px outset #ccc;
}

.normalButton {
	
}