/** CSS for the gadgets. */

.normalTextBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: black;
	padding: 4px;
	border: 1px solid #B3B3B3;
}

.normalLabel, .errLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #4E4E4E;
}

.formHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #E61A1A;
}

.errLabel {
	color: red;
}

.actionButton, .normalButton {
	font: bold 16px "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	display: inline-block;
	color: white;
	padding: 5px 10px 5px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: #CE150D url(button_overlay.png) repeat-x scroll 0 0;
	border-style: none;
	text-align: center;
	overflow: visible;
}

.actionButton:hover, .actionButton:focus,
.normalButton:hover, .normalButton:focus {
	background-position: 0 -50px;
	color: white;
}
 
.actionButton:active, .normalButton:active {
	background-position: 0 -100px;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow: none;
}

.normalButton {
	color: black;
	background: #CACACA url(button_overlay.png) repeat-x scroll 0 0;
	font: 16px "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
	text-shadow: none;
}

.normalButton:hover, .normalButton:focus {
	color: black;
}

.tgCellIconOut, .tgCellIconIn, .tgCellIconTrip {
	font: bold 16px "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	display: inline-block;
	color: #CE150D;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	overflow: visible;
	width: 16px;
	padding: 10px 5px 10px;
	background-color: whiteSmoke;
	border-right: 1px SOLID #C5C5C5;
}

.tgCellIconIn {
	color: #5BB315;
}

.tgCellIconTrip {
	background: BLUE url(button_overlay.png) repeat-x scroll 0 0;
}

.tgCellTDStyle {
	vertical-align: middle;
	padding: 0px;
}

.tgCellTableOut, .tgCellTableIn , .tgCellTableTrip{
	border-bottom: 1px solid GRAY;
	cursor: pointer;
	background: rgba(255, 255, 255, 0);
	margin: 0px;
}
/* .tgCellTableOut:hover, .tgCellTableOut:focus, .tgCellTableIn:hover, .tgCellTableIn:focus , */
/* 	 .tgCellTableTrip :hover, .tgCellTableTrip:focus{ */
/* 	background: #DADADA; */
/* } */

.tgCellNormalLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #4E4E4E;
	padding-left: 5px;
}