<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- Filters -->
    <filter>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.pratikabu.pem.server.servlet.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/Dashboard.jsp</url-pattern>
		<url-pattern>/login.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
		<display-name>AccountInitializeFilter</display-name>
		<filter-name>AccountInitializeFilter</filter-name>
		<filter-class>com.pratikabu.pem.server.servlet.AccountInitializeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccountInitializeFilter</filter-name>
		<url-pattern>/Dashboard.jsp</url-pattern>
	</filter-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>pemServlet</servlet-name>
		<servlet-class>com.pratikabu.pem.server.PEMServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<display-name>RegisterUserServlet</display-name>
		<servlet-name>RegisterUserServlet</servlet-name>
		<servlet-class>com.pratikabu.pem.server.servlet.ProcessRegisterUserServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.pratikabu.pem.server.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>pemServlet</servlet-name>
		<url-pattern>/dashboard/pemService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterUserServlet</servlet-name>
		<url-pattern>/registerUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>